body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f5f5f5, #ddd);
    margin: 0;
    padding: 0;
.header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #cfd0d1, #87269c, #013164);
    color: white;
}
.section {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to right, #ffffff, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.section h2 {
    color: #6c757d;
    border-bottom: 1px solid #6c757d;
    padding-bottom: 10px;
}
.section p, .section li {
    color: #333;
}
#profile-picture {
    width: 150px;  /* Adjust the width as needed */
    height: 150px;  /* Adjust the height as needed */
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 3px solid #007bff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    object-fit: cover;  /* This will ensure that the image covers the entire area of the img element without distorting the aspect ratio */
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.section {
    animation: fadeIn 1s ease-in;
    /* Rest of your CSS */
}

.section {
    display: flex;
    flex-direction: column;
   
}
.modern-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.modern-button:hover {
    background-color: #0056b3;
    color: white;
}}